{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">  
        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="container">
                <label for="email"  id="email"><b>Email</b></label>
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            
                <label for="psw"    id="password"><b>Password</b></label>
                <input type="password" class="form-control" id="password" >
                
              </div>
            
            <button type="submit" class=" btn btn-success" >Login</button>
            <p> Don't have an account ? <a href="/signup/">Sign up</a></p>
           
        </form>
    </div>
{% endblock %}